<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"/>
  <link rel="stylesheet" href="static/css/home.css">
  <title>EDGE DETECTION</title>
</head>
<body>
  <div class="center-text">
    <h1 class="title">Pengolahan Citra Digital</h1>
  </div>
  <a class="start-button" href="{{url_for('index') }}">LETS GET STARTED <i class="fa-solid fa-arrow-right"></i></a>
  <p class="bottom-left-text">Image Edge Detection</p>
  <p class="bottom-left">Easily to Detect Your Image</p>
</body>
</html>
